.task {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    white-space: initial;
}

.subGrid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.taskName {
    display: inline-block;
    word-wrap: break-word;
    width: 12rem;
}