.list {
    background-color: rgb(235, 236, 240);
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    height: max-content;
    padding: 10px;
}

.listTitle {
    font-weight: bold;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5px;
}

.subGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 150px;
}

.button {
    background: none;
    color: inherit;
    border: none;
    padding: 3px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.field {
    border-width: 0px;
    border: none;
    outline: none;
}

.addListTitle {
    font-weight: bold;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5px;
}